name: Generate Pacman Game

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: YassineFathi/github-contribution-pacman@main
        with:
          output_path: dist/pacman.svg

      - name: Commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add dist/pacman.svg
          git commit -m "Update pacman" || true
          git push
